@charset "utf-8";

// Configuration and helpers
@import
  "abstracts/variables",
  "abstracts/functions",
  "abstracts/mixins";

// Base stuff
@import
  "base/animations",
  "base/base",
  "base/typography",
  "base/utilities";

// Components
@import
  "components/button",
  "components/composition",
  "components/feature-box";

// Page specific stuff
@import
  "pages/home";

// Layouts
@import
  "layout/grid",
  "layout/header";